<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title></title>
</head>
<body>
<script type="text/javascript">
    window._ba = window._ba || [];
    window._ba.push(["queued test category! 1", "queued test action!! 1", "queued test label!!! 1"]);
    window._ba.push(["queued test category! 2", "queued test action!! 2", "queued test label!!! 2"]);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = "http://<%= @server_root %>";
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    setTimeout(function(){window._ba.push(["test category!", "test action!!", "test label!!!"]);}, 2000);
</script>
</body>
</html>